Proposito del programa: Resolver Sudokus parcialmente rellenados.

El programa estara escrito en Java.

Inicialmente el programa sera de terminal. Eventualmente se le anadira UI.

El tablero parcialmente rellenado se pasara como input en un fichero de texto donde cada fila sera una linea 
del fichero y los valores de las casillas estaran separados por comas. Las casillas que no esten rellenadas
apareceran como un espacio en blanco.

El output sera otro fichero con el mismo formato.

Inicialmente el programa estara pensado para resolver Sudokus de 9x9, pero posteriormente se adaptara para que 
tambien se puedan resolver Sudokus de 16x16, 25x25, etc.